<footer class="py-8 py-md-11 @@classList">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-md-8 col-lg-6  ">
        
        <!-- Brand -->
        <img src="@@webRoot/assets/img/logo.svg" alt="..." class="footer-brand img-fluid mb-2 ml-10 mw-50">

        <!-- Text -->
        <p class="text-gray-700 mb-2 mt-2">
         Rewolucja w wynajmnie wymarzonego samochodu!
        </p>

        <!-- Social -->
        <ul class="list-unstyled list-inline list-social mb-6 mt-2 ml-12 mb-md-0">
          <li class="list-inline-item list-social-item mr-3">
            <a href="#!" class="text-decoration-none">
              <img src="@@webRoot/assets/img/icons/social/instagram.svg" class="list-social-icon" alt="...">
            </a>
          </li>
          <li class="list-inline-item list-social-item mr-3">
            <a href="#!" class="text-decoration-none">
              <img src="@@webRoot/assets/img/icons/social/facebook.svg" class="list-social-icon" alt="...">
            </a>
          </li>
          <li class="list-inline-item list-social-item mr-3">
            <a href="#!" class="text-decoration-none">
              <img src="@@webRoot/assets/img/icons/social/twitter.svg" class="list-social-icon" alt="...">
            </a>
          </li>
          <li class="list-inline-item list-social-item">
            <a href="#!" class="text-decoration-none">
              <img src="@@webRoot/assets/img/icons/social/pinterest.svg" class="list-social-icon" alt="...">
            </a>
          </li>
        </ul>

      </div>
     
    </div> <!-- / .row -->
  </div> <!-- / .container -->
</footer>