<nav class="navbar navbar-expand-lg navbar-togglable fixed-top sectionMenu @@classList">
  <div class="@@container">

    <!-- Brand -->
    <a class="navbar-brand" href="@@webRoot/index.html">
      <img src="@@webRoot/assets/img/logo.svg" class="navbar-brand-img" alt="...">
    </a>

    <!-- Toggler -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Collapse -->
    <div class="collapse navbar-collapse" id="navbarCollapse">

      <!-- Toggler -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fe fe-x"></i>
      </button>

      <!-- Navigation -->
      <ul class="navbar-nav ml-auto">
        <li class="nav-item nav-link dropdown">
          <!-- List -->
                      <a class="dropdown-item mb-5" href="#SectionMoreInfo1">
                        Sekcja 1
                      </a>
         
        </li>
        <li class="nav-item nav-link dropdown">
          <!-- List -->

                      <a class="dropdown-item mb-5" href="@@webRoot/#SectionMoreInfo2">
                        Sekcja 2
                      </a>
                     
        </li>
        <li class="nav-item nav-link dropdown">
          <!-- List -->
                      <a class="dropdown-item mb-5" href="@@webRoot/#SectionMoreInfo3">
                        Sekcja 3
                      </a>
          
        </li>
        <li class="nav-item nav-link dropdown">
          <!-- List -->
                      <a class="dropdown-item mb-5" href="@@webRoot/#SectionMoreInfo4">
                        Sekcja 4
                      </a>
          
        </li>
        <li class="nav-item nav-link dropdown">
          <!-- List -->
                      <a class="dropdown-item mb-5" href="@@webRoot/#SectionMoreInfo5">
                        Sekcja 5
                      </a>
          
        </li>
      </ul>

      <!-- Button -->
      <a class="navbar-btn btn btn-sm btn-primary lift ml-auto" href="https://themes.getbootstrap.com/product/landkit/" target="_blank">
       INWESTUJ!
      </a>

    </div>

  </div>
</nav>
