// 
// user.scss
// Use this to write your custom SCSS
//
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

.ctaButtonSection5 a {
    width:20%;
    height:85px;
    margin-top:70px;
    margin-bottom:130px;
    
}

.titlesAllSportCars{
  font-family: $font-title !important;
  line-height: 1.5;
}

.textSection{
  font-size: 1rem;
}

.firstSection{
  height: 100vh;
  color:red;
}

.otherTextAllSportCars{
   
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
}

.cardSectionMoreInfo4{

  min-height: 27vh;
}

.sectionMoreInfo4MarginTop{
  
  z-index: 1;
  
}

.sectionMoreInfo3{
  z-index:10000;
}
.shapeDownSection3{
  z-index: 9000;
}

.sectionMenu {
  z-index:12000;

}


