// 
// user.scss
// Use this to write your custom SCSS
//
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

.ctaButtonSection5 a {
    width:20%;
    height:85px;
    margin-top:70px;
    margin-bottom:130px;
    
}

.titlesAllSportCars{
  font-family: $font-title !important;
  line-height: 1.4;
  font-weight: 500;
}

.textSection{
  font-size: 1rem;
}

.container1 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.otherTextAllSportCars{
   
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
}

.cardSectionMoreInfo4{

  min-height: 17vh;
}

.sectionMoreInfo4MarginTop{
  
  z-index: 1;
  
}

.sectionMoreInfo3{
  z-index:10000;
}
.shapeDownSection3{
  z-index: 9000;
}

.sectionMenu {
  z-index:12000;

}

.section6Card{
  margin-bottom: 4.5rem ;
}


