// 
// user.scss
// Use this to write your custom SCSS
//
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

.ctaButtonSection5 a {
    width:20%;
    height:85px;
    margin-top:70px;
    margin-bottom:130px;
    
}

.titlesAllSportCars{
  font-family: $font-title !important;
}

.textSection{
  font-size: 1rem;
}



.otherTextAllSportCars{
   
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
}